:root {
    --card_width: 250px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 13;
    --card_med: 27;
    --card_large: 35;
}

html, body, body > div {
    margin: 0;
    height: 100%;
}

.header{
    display: flex;
    font-size: 2em;
    background-color: rgba(206,107,202,1);
    justify-content: center;
    border-style: solid;
    border-color: rgba(206,107,202,1);
    border-bottom: 1px solid black;
}
.svg{
    width: 1em;
    height: 1em;
}


.content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 60vw;
}

.navbar{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
    border-right: 0.5px solid rgb(0, 0, 0);
    background-color: rgb(219, 219, 219);
    text-shadow: 4px 4px 4px rgba(206,107,202,0.5);
    height: auto;
    
}
.navbar-button:hover, .navbar-button:active{
    font-size: 1rem;
    font-weight: bold;
}

.navbar-button:hover::before {
    content: '//';
  }
  
.navbar-button{
    width: 20px;
    height: 30px;
}

.add-button{
    color: #000; /* Fallback for older browsers */
    font-size: 3rem;
    font-weight: bolder;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius:50%;
    text-align: center;
    background-color: rgba(206,107,202,1);
    margin: 10px;
    align-self: flex-start;
    box-shadow: 2px 5px 5px black;
}
.add-button:hover{
    transform: scale(1.1);
}

label {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}
.navbar input[type="radio"]{
    position: fixed;
    opacity: 0;
    pointer-events: none;
}
input[type="radio"]:checked+label{ 
    font-weight: bold; 
} 
input[type="radio"]:checked+label::before{ 
    content:"//";
} 



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    
}
  .modal-content > .content >.navbar{
    border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    box-shadow: 5px 5px 15px rgba(206,107,202,1);
    border: 2px solid black;
    border-radius: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.noteDiv{
    margin: 0;
    padding: 0;
    width: 40vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;

}

.card {
    position: relative;
    padding: 10px;
    margin: 15px 10px;
    border-radius: var(--card_border_radius);
    background-color: rgb(212, 212, 212);
}
.card_small {
    grid-row-end: span var(--card_small);
}

.card_medium {
    grid-row-end: span var(--card_medium);
}

.card_large {
    grid-row-end: span var(--card_large);
}

.delete-note{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}
.card input:nth-child(2) {
    padding-top: 20px;
    border-top: 1px solid rgba(206,107,202,1);
}

.noteInput{
    outline: none;
    border: none;
    background: inherit;
}

.wallpaper{
    background: url('./wallpaper.jpg');
    background-size: 2000px auto;
}

.floater{
    position: absolute;
    top: 20%; 
    left: 20%;
    box-shadow: 5px 5px 30px rgba(206,107,202,1);
    height: 523px;
    border: 1px solid black;
}
.todos{
    display: flex;
    background: white;

}